@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  height:100% ;
  width: 100% ;
  font-family: 'Poppins', sans-serif;
  color: #222;
}
/*html {*/
  /*scroll-behavior: smooth;*/
/*}*/
.navbar
{
background-color: #700000;
 }
.nav-bar .navbar-collapse
{
  text-align: center;
}
.navbar-nav li
{
  padding-right: 20px;

}
.nav-link
{
  font-size: 1.1em !important;
}
.nav-link
{
  color: #533f03;
}
.nav-link:hover
{
  color: #9fcdff;
}
img{
width: 250px;
height 70px;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}
.carousel-caption
{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}
.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}
.btn-primary
{
  background-color: #6648b1;
  border: 1px solid #563d7c;
}
.btn-primary:hover
{
  background-color: #563d7c;
  border: 1px solid #563d7c;
}
.jumbotron
{
  padding: 1rem;
  border-radius: 0;
}

.btn-primary
{
/*26c99c*/
background-color: #a58c6d;
}
.btn-primary:hover
{
background-color: #14cde7;
}
.navbar-ok
{
  background-color: #c69500;
}
.navbar-green
{
  background-color: #a58c6d;
}
.navbar-seen
{
  background-color: #a58c6d;
}
.navbar-tom
{
  background-color: #a58c6d;
}
.container-fluid
{
  /*padding-bottom: 0px;*/
  /*height: 40%;*/
}

/*#img_error*/
/*{*/
  /*max-width: 100% !important;*/
  /*max-height: 100% !important;*/
/*}*/
/*.img_error {*/
    /*background-image: url('../static/img/error.jpg');*/
    /*position: fixed;*/
    /*display: block;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-size: cover;*/
    /*background-position: center center;*/
    /*-webkit-transform: translateZ(0);*/
    /*transform: translateZ(0);*/
    /*will-change: transform;*/
/*}*/


.social a {
  font-size:  2.5rem;

  padding-left: 2rem;

}
.fa-facebook {
  color: #3b5998;
}
.fa-twitter
{
  color: #00aced;
}
.fa-google-plus-g
{
  color: #dd4b39;
}
.fa-instagram
{
  color: #517fa4;
}
.fa-youtube
{
  color: #bb0000;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-google-plus-g:hover,
.fa-youtube:hover {
  color: #d5d5d5
/*color: #400000;*/
}



#meet_the_team
{
   -webkit-transition: all 0.5s ease;
}
/*---Media Queries --*/
@media (max-width: 992px) {
  .social a {
    font-size: 4rem;
    padding: 2rem ;
  }

  }
@media (max-width: 768px) {
.carousel-caption{
    top: 45%
}
.carousel-caption h1 {
  font-size: 350%;
}
.carousel-caption h3 {
  font-size: 140%;
  font-weight: 400;
  padding-bottom: .2rem;
}
.carousel-caption .btn {
  font-size: 95%;
  padding:8px 14px ;
}
.display-4 {
  font-size: 200%;
}
  .social a {
    font-size: 2.5rem;
    padding: 1.2rem ;
    }
}
@media (max-width: 576px) {
.carousel-caption{
    top: 40%
}
.carousel-caption h1 {
  font-size: 250%;
}
.carousel-caption h3 {
  font-size: 110%;
}
.carousel-caption .btn {
  font-size: 90%;
  padding:4px 8px;
}
.carousel-indicators{
  display: none;
}
.display-4 {
  font-size: 160%;
}
  .social a {
    font-size: 2rem;
    padding: .7rem ;
    }
}







/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








